In [9]:
import pandas as pd
import numpy as np

file_path = 'dataset/titanic.csv'
titanic_df = pd.read_csv(file_path) #8번

# titanic_df.head() 9번
# titanic_df.shape 10번
# titanic_df.info() 11번
# titanic_df.describe() 12번
# titanic_df[['Age','Name']][titanic_df['Age'] > 60].head(3) 13번
# titanic_df[['Name','Pclass','Age']][titanic_df['Survived'] == 1].head() 14번

AT = titanic_df[titanic_df['Age'] >= 60] #15번
P1 = AT[AT['Pclass'] == 1] #15번
len(P1[P1['Sex'] == 'female']) #15번

3

In [10]:
PFS = titanic_df[titanic_df['Sex'] == 'female'].groupby('Pclass').sum() #16번
print(f"1등급 여성 생존자 {PFS['Survived'].loc[1]}") #16번
print(f"2등급 여성 생존자 {PFS['Survived'].loc[2]}") #16번
print(f"3등급 여성 생존자 {PFS['Survived'].loc[3]}") #16번

1등급 여성 생존자 91
2등급 여성 생존자 70
3등급 여성 생존자 72

In [11]:
SIP = titanic_df.set_index('Pclass') #17번
SIP.groupby('Pclass').count() #17번

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Pclass,,,,,,,,,,,
1,216,216,216,216,186,216,216,216,216,176,214
2,184,184,184,184,173,184,184,184,184,16,184
3,491,491,491,491,355,491,491,491,491,12,491

In [12]:
iris = pd.read_csv('dataset/iris.csv')
iris #18번

# np.array(set(iris['species'])) 19번
# len(set(iris['species'].values)) 20번
# iris['species'].value_counts() 21번

# SI = iris.sort_values('sepal_length',ascending=False).reset_index() 22번
# SI['sepal_length'].head(10) 22번

# iris['sepal_length'].iloc[5:20] 23번
# iris['sepal_length'] / iris['petal_length'] 24번
# iris[iris['sepal_length'] > 5] 25번
# iris[(iris['sepal_length'] > 5) | (iris['petal_length'] < 1.5)] 26번
# iris[(iris['sepal_length'] > 5) & (iris['petal_length'] < 1.5)] 27번
# iris[(iris["sepal_length"] > 5) & (iris["petal_length"] < 1.5)]['petal_width'] 28번
# iris.groupby('species').sum() 29번
# (iris.groupby('species').max()) - (iris.groupby('species').min()) 30번

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]