In [47]:
import pandas as pd
import numpy as np

file_path = 'dataset/titanic.csv'
titanic_df = pd.read_csv(file_path) #8번

# titanic_df.head() 9번
# titanic_df.shape 10번
# titanic_df.info() 11번
# titanic_df.describe() 12번
# titanic_df[['Age','Name']][titanic_df['Age'] > 60].head(3) 13번
# titanic_df[['Name','Pclass','Age']][titanic_df['Survived'] == 1].head() 14번

# AT = titanic_df[titanic_df['Age'] >= 60] 15번
# P1 = AT[AT['Pclass'] == 1] 15번
# len(P1[P1['Sex'] == 'female']) 15번

# PFS = titanic_df[titanic_df['Sex'] == 'female'].groupby('Pclass').sum() 16번
# print(f"1등급 여성 생존자 {PFS['Survived'].loc[1]}") 16번
# print(f"2등급 여성 생존자 {PFS['Survived'].loc[2]}") 16번
# print(f"3등급 여성 생존자 {PFS['Survived'].loc[3]}") 16번

# SIP = titanic_df.set_index('Pclass') 17번
# SIP.groupby('Pclass').count() 17번

In [77]:
iris = pd.read_csv('dataset/iris.csv')
iris #18번


# np.array(set(iris['species'])) 19번
# len(set(iris['species'].values)) 20번
# iris['species'].value_counts() 21번

# SI = iris.sort_values('sepal_length',ascending=False).reset_index() 22번
# SI['sepal_length'].head(10) 22번

# iris['sepal_length'].iloc[5:20] 23번
# iris['sepal_length'] / iris['petal_length'] 24번

0      3.642857
1      3.500000
2      3.615385
3      3.066667
4      3.571429
         ...
145    1.288462
146    1.260000
147    1.250000
148    1.148148
149    1.156863
Length: 150, dtype: float64