In [33]:
import mysql.connector

try:
    conn1 = mysql.connector.connect(
        host = "mysql",
        user = "root",
        password = "1234"
    )
    conn2 = mysql.connector.connect(
        host = "210.119.14.68", # 보성
        user = "root",
        password = "1234"
    )
    conn3 = mysql.connector.connect(
        host = "210.119.14.64", # 성훈
        user = "root",
        password = "1234"
    )
    
    if conn1.is_connected() and conn2.is_connected() and conn3.is_connected():
        print("MySQL 접속 완료")
        
except mysql.connector.Error as e:
    print("MySQL 접속 실패", e)

MySQL 접속 완료

In [34]:
query = "CREATE DATABASE IF NOT EXISTS jhszz"
cursor1 = conn1.cursor()
cursor2 = conn2.cursor()
cursor3 = conn3.cursor()
cursor1.execute(query)
cursor2.execute(query)
cursor3.execute(query)
conn1.close()
conn2.close()
conn3.close()
print("MySQL 연결 성공")

MySQL 연결 성공

In [36]:
conn1 = mysql.connector.connect(
        host = "mysql",
        user = "root",
        password = "1234",
        database = "jhszz"
    )
conn2 = mysql.connector.connect(
        host = "210.119.14.68", # 보성
        user = "root",
        password = "1234",
        database = "jhszz"
    )
conn3 = mysql.connector.connect(
        host = "210.119.14.64", # 성훈
        user = "root",
        password = "1234",
        database = "jhszz"
    )

query = "CREATE TABLE IF NOT EXISTS RALO(ID int auto_increment primary key, comment varchar(500))"
cursor1 = conn1.cursor()
cursor2 = conn2.cursor()
cursor3 = conn3.cursor()
cursor1.execute(query)
cursor2.execute(query)
cursor3.execute(query)

In [43]:
query = "INSERT INTO RALO(comment) VALUES (%s)"
values = [('베인아아아',),('너 가능성 있어, 열심히 해',)]
cursor1.executemany(query,values)
cursor2.executemany(query,values)
cursor3.executemany(query,values)
conn1.commit()
conn2.commit()
conn3.commit()