In [1]:
!pip install oracledb # 고급기능은 thick 모드로 변경할 때 기존 cx_Oracle 버전으로 instant_Client 가 필요

Defaulting to user installation because normal site-packages is not writeable
Collecting oracledb
  Downloading oracledb-3.1.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_28_x86_64.whl.metadata (5.4 kB)
Collecting cryptography>=3.2.1 (from oracledb)
  Downloading cryptography-44.0.2-cp39-abi3-manylinux_2_34_x86_64.whl.metadata (5.7 kB)
Requirement already satisfied: cffi>=1.12 in /home/ppkdatakhs/.local/lib/python3.10/site-packages (from cryptography>=3.2.1->oracledb) (1.17.1)
Requirement already satisfied: pycparser in /home/ppkdatakhs/.local/lib/python3.10/site-packages (from cffi>=1.12->cryptography>=3.2.1->oracledb) (2.22)
Downloading oracledb-3.1.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_28_x86_64.whl (2.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.9/2.9 MB 40.3 MB/s eta 0:00:00
Downloading cryptography-44.0.2-cp39-abi3-manylinux_2_34_x86_64.whl (4.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 37.6 MB/s eta 0:00:00
Installing collected packages: cryptography, oracledb
Successfully installed cryptography-44.0.2 oracledb-3.1.0

In [4]:
import oracledb

try:
    conn = oracledb.connect(
        user = 'pknu',
        password = '1234',
        dsn = 'oracle/XEPDB1'
    )
    print('Oracle DB 연결 성공')
    cursor = conn.cursor()
except Exception as e:
    print("Oracle DB 연결 실패", e)

Oracle DB 연결 성공

In [8]:
query = """
    BEGIN
        EXECUTE IMMEDIATE '
                CREATE TABLE STUDENTS (
                ID NUMBER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
                NAME VARCHAR2(50),
                AGE NUMBER,
                EMAIL VARCHAR2(100))';
    EXCEPTION
        WHEN OTHERS THEN
            IF SQLCODE != - 955 THEN
                RAISE;
            END IF;
        END;
"""
cursor.execute(query)
print("테이블 생성 성공")

테이블 생성 성공

In [9]:
que = "INSERT INTO STUDENTS (NAME, AGE, EMAIL) VALUES (:1, :2, :3)"
values = ("홍길동", 20, "hong20@hong.com")
cursor.execute(que, values)
conn.commit()
print("데이터 삽입 완료")

데이터 삽입 완료

In [10]:
que = "INSERT INTO STUDENTS (NAME, AGE, EMAIL) VALUES (:1, :2, :3)"
m_values = [("슈퍼맨",33,"superman@naver.com"),("배트맨",42,"betman@naver.com"),("앤트맨",30,"antman@naver.com")]
cursor.executemany(que,m_values)
conn.commit()
print("데이터 삽입 완료")

데이터 삽입 완료

In [21]:
que = "SELECT * FROM STUDENTS"
result = cursor.execute(que)
users = cursor.fetchall()
for u in users:
    print(u)

(2, '슈퍼맨', 33, 'superman@naver.com')
(3, '배트맨', 42, 'betman@naver.com')
(4, '앤트맨', 30, 'antman@naver.com')

In [17]:
que = "UPDATE STUDENTS SET AGE = :1 WHERE NAME = :2"
values = (25, '홍길동')
cursor.execute(que, values)
conn.commit()
print("수정 완료")

수정 완료

In [20]:
que = "DELETE FROM STUDENTS WHERE NAME = :1"
values = ('홍길동',)
cursor.execute(que, values)
conn.commit()
print("삭제 완료")

삭제 완료