# 제어문

## if문

In [11]:
if True :
    print("True")
if False :
    print("zzz")

True

In [18]:
num = 10
while num:
    num -= 1
    print(num)

9
8
7
6
5
4
3
2
1
0

In [22]:
inp1 = int(input('얼마있냐'))

if inp1 >= 3000:
    print('택시타라')
else:
    print('걸어가라')

얼마있냐 12345

택시타라

In [24]:
# And
print('\n',True and True)
print(True and False)
print(False and True)
print(False and False)
# Or
print('\n',True or True)
print(True or False)
print(False or True)
print(False or False)
# Not
print('\n',True)
print(not True)

 True
False
False
False

 True
True
True
False

 True
False

In [26]:
이상형 = True
똑똑 = True

if 이상형 and 똑똑:
    print("만납시다")
else:
    print("만나지 맙시다")

만납시다

In [27]:
이상형 = False
똑똑 = True

if 이상형 or 똑똑:
    print("만납시다")
else:
    print("만나지 맙시다")

만납시다

In [30]:
주사 = True

if not 주사:
    print('good')
else:
    print('bye')

bye

In [31]:
money = 2000
card = True

if money >= 3000 or card:
    print("택시 ㄱㄱ")
else:
    print("뚜벅이")

택시 ㄱㄱ

In [34]:
me = 'Python'
compA = ['Java', 'Css', 'HTML', 'Javascript', 'C', 'MySQL']
compB = ['Java', 'Python', 'Javascript', 'C', 'MySQL']
compC = ['Java', 'Python', 'C', 'MySQL']

if me in compA:
    print('Aㅎㅇㅎㅇ')
if me in compB:
    print('Bㅎㅇㅎㅇ')
if me in compC:
    print('Cㅎㅇㅎㅇ')

Bㅎㅇㅎㅇ
Cㅎㅇㅎㅇ

In [45]:
score = int(input('몇 점임'))
grade = ''
if 0 <= score <= 100:
    if score >= 90:
        grade = 'A'
    elif score >= 80:
        grade = 'B'
    elif score >= 70:
        grade = 'C'
    elif score >= 60:
        grade = 'D'
    else:
        grade = 'F'
else:
    print('다시.')
print(f'{grade}')

몇 점임 12

F

In [51]:
degree = int(input("몇 도임"))
season = ""

if degree >= 25:
    season = "여름"
elif degree >= 15:
    season = "봄"
elif degree >= 10:
    season = "가을"
else:
    season = "겨울"
print(season)

몇 도임 9

겨울

## while문

In [52]:
treehit = 0
while treehit < 10:
    treehit += 1
    print("나무를 %d번 찍었습니다." %treehit)
    if treehit == 10:
        print('나무 넘어가유')

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어가유

In [55]:
treehit = 10
while treehit:
    print(f"나무를 {11 - treehit}번 찍었습니다.")
    treehit -= 1
print('나무 넘어가유')

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어가유

In [57]:
prompt = """
    1. Add
    2. Del
    3. List
    4. Quit
"""

number = 0
while number != 4:
    print(prompt)
    number = int(input())

    1. Add
    2. Del
    3. List
    4. Quit

 1

    1. Add
    2. Del
    3. List
    4. Quit

 4

In [142]:
import random

box = []
try_num = 100000
count_sum = []

In [144]:
while len(box) < try_num:
    num = random.randint(1,6)
    box.append(num)

if try_num == len(box):
    for i in range(1,7):
        print(f"{i}의 갯수 : {box.count(i)}")
        print(f"{i}의 확률 : {box.count(i)/try_num * 100:.2f}% \n")
        count_sum.append(box.count(i))
else:
    print("🤦‍♂️")

print(f"가장 많이 나온 숫자: {count_sum.index(max(count_sum)) + 1}")

1의 갯수 : 16604
1의 확률 : 16.60%

2의 갯수 : 16770
2의 확률 : 16.77%

3의 갯수 : 16789
3의 확률 : 16.79%

4의 갯수 : 16704
4의 확률 : 16.70%

5의 갯수 : 16386
5의 확률 : 16.39%

6의 갯수 : 16747
6의 확률 : 16.75%

가장 많이 나온 숫자: 3

## for 반복문

In [127]:
text_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [137]:
a = [(1,2),(3,4),(5,6)]
for (first, last) in a:
    print(first + last)

3
7
11

In [145]:
marks = [90, 25, 67, 45, 80]
number = 0

for mark in marks:
    number += 1
    if mark >= 60:
        print(f"{number}번 학생 합격")
    else:
        print(f"{number}번 학생 불합격")

1번 학생 합격
2번 학생 불합격
3번 학생 합격
4번 학생 불합격
5번 학생 합격

In [146]:
marks = [90, 25, 67, 45, 80]
number = 0

for mark in marks:
    number += 1
    if mark < 60:
        continue
    print(f"{number}번 학생 ㅊㅋㅊㅋ")

1번 학생 ㅊㅋㅊㅋ
3번 학생 ㅊㅋㅊㅋ
5번 학생 ㅊㅋㅊㅋ

In [147]:
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [157]:
coffee = 2

In [163]:
if coffee > 0:
    money = int(input('돈 넣어'))
    if money > 300:
        print(f"거스름돈 {money - 300} 커피 받아라")
        coffee -= 1
    elif money == 300:
        print("커피받으삼")
        coffee -= 1
    else:
        print("돈 더 넣어라")
else:
    print("커피없음 가라")

커피없음 가라

In [176]:
sum = 0
for i in range(1,11):
    sum = sum + i
print(sum)

55

In [177]:
sum = 0
for i in range(1,131):
    sum = sum + i
print(sum)

8515

In [180]:
marks = [90, 25, 67, 45, 80]
for i in range(len(marks)):
    if marks[i] < 60:
        continue
    print(f"{i+1}번 학생 ㅊㅋㅊㅋ")

1번 학생 ㅊㅋㅊㅋ
3번 학생 ㅊㅋㅊㅋ
5번 학생 ㅊㅋㅊㅋ

In [182]:
import calendar
c = calendar.TextCalendar(calendar.SUNDAY)
print(c.formatmonth(2025,2))

   February 2025
Su Mo Tu We Th Fr Sa
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28

### range 함수

In [189]:
import time as t
for x in range(11):
    print("|", end='')
    t.sleep(1)

|||||||||||

In [202]:


lt = []
tp = []
length = 10000000
for l in range(length):
    lt.append(l)
for t in range(length):
    tp.append(t)
tp = tuple(tp)

print(type(lt))
print(type(tp))

1738904967.8530762
<class 'list'>
<class 'tuple'>
1.7944564819335938

In [209]:
import time
start = time.time()
print(start)

for x in lt:
    a = [1,2,3,4,5]

print(time.time() - start)

1738905175.7761042
0.7997736930847168

In [210]:
start = time.time()
print(start)

for y in tp:
    b = (1,2,3,4,5)

print(time.time() - start)

1738905176.9846926
0.40306520462036133

In [212]:
!pip -V

pip 24.3.1 from C:\Users\Admin\AppData\Local\Programs\Python\Python313\Lib\site-packages\pip (python 3.13)

In [213]:
!pip install tqdm

Collecting tqdm
  Downloading tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
Requirement already satisfied: colorama in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from tqdm) (0.4.6)
Downloading tqdm-4.67.1-py3-none-any.whl (78 kB)
Installing collected packages: tqdm
Successfully installed tqdm-4.67.1

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [214]:
!python.exe -m pip install --upgrade pip

Requirement already satisfied: pip in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (24.3.1)
Collecting pip
  Downloading pip-25.0-py3-none-any.whl.metadata (3.7 kB)
Downloading pip-25.0-py3-none-any.whl (1.8 MB)
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   ---------------------------------------- 1.8/1.8 MB 36.5 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 24.3.1
    Uninstalling pip-24.3.1:
      Successfully uninstalled pip-24.3.1
Successfully installed pip-25.0

In [219]:
import tqdm
import time

for x in tqdm.tqdm(range(100)):
    pass
    time.sleep(0.1)

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [00:10<00:00,  9.76it/s]

In [252]:
import requests
from bs4 import BeautifulSoup

url = 'https://api.bithumb.com/public/ticker/ALL_KRW'
response = requests.get(url).json()

op = int(response['data']['BTC']['opening_price'])
cp = int(response['data']['BTC']['closing_price'])
max_p = int(response['data']['BTC']['max_price'])
min_p = int(response['data']['BTC']['min_price'])
change = max_p - min_p

최대가 : 152817000
최소가 : 149809000
시작가 : 152630000
변화폭 : 3008000
상승장임 익절 ㄱㄱ

In [256]:
import requests
from bs4 import BeautifulSoup

url = 'https://api.bithumb.com/v1/candles/minutes/1?market=KRW-BTC&count=1'
response = requests.get(url).json()
current_price = int(response[0]['trade_price'])

if (op + change) > max_p:
    print(f"최대가 : {max_p:,}원\n최소가 : {min_p:,}원\n시작가 : {op:,}원\n변화폭 : {change:,}원\n현재가 : {current_price:,}원\n상승장임 익절 ㄱㄱ")
else:
    print(f"최대가 : {max_p:,}원\n최소가 : {min_p:,}원\n시작가 : {op:,}원\n변화폭 : {change:,}원\n현재가 : {current_price:,}원\n하락장임 손절 ㄱㄱ")

최대가 : 152,817,000원
최소가 : 149,809,000원
시작가 : 152,630,000원
변화폭 : 3,008,000원
현재가 : 149,959,000원
상승장임 익절 ㄱㄱ

In [278]:
for i in range (2,10):
    print(f"{i}단")
    for j in range(1, 10):
        print(f"{i} * {j} = {j * i}")

2단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
# Q1
print("answer : shirt")

In [268]:
# Q2
result = 0
i = 1
while i <= 1000:
    if i % 3 == 0:
        result += i
    i += 1

print(result)

166833

In [270]:
# Q3
i = 0
while True:
    i += 1
    if i > 5 : break
    print('*' * i)

*
**
***
****
*****

In [271]:
# Q4
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [272]:
# Q5
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
for score in A:
    total += score
average = total / len(A)
print(average)

79.0

In [275]:
# Q6
numbers = [1,2,3,4,5]
result = [n * 2 for n in numbers if n % 2 == 1]
print(result)

[2, 6, 10]

### 리스트 컴프리헨션

In [281]:
a = [1,2,3,4]
result = []
for num in a:
    result.append(num * 3)

print(result)

[3, 6, 9, 12]

In [283]:
a = [1,2,3,4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [286]:
a = [x * 3 for x in range(10) if x % 2 == 0]
print(a)

[0, 6, 12, 18, 24]

In [288]:
result = [i * j for i in range(2, 10) for j in range(1, 10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [349]:
import random

lotto = []
for i in range(6):
    random_number = random.randint(1,46)
    if random_number not in lotto:
        lotto.append(random_number)
lotto.sort()

None